.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-size: 100%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top:20%;
    left:50%;
    transform: translate(-50%, -50%);
}